{% extends "layout.html" %}

{% block title %}401 - Not Authorized{% endblock %}
{% block page %}401 - Not Authorized{% endblock %}

{% block content %}
<style>
  .soft-blue-bg {
    background-color: #e3f2fd;
  }
  .soft-blue-text {
    color: #1565c0;
  }
  .btn-soft-blue {
    background-color: #90caf9;
    color: white;
  }
  .btn-soft-blue:hover {
    background-color: #64b5f6;
  }
  .btn-gray {
    background-color: #cfd8dc;
    color: black;
  }
  .btn-gray:hover {
    background-color: #b0bec5;
  }
</style>

<div class="container" style="margin-top: 8%;">
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card soft-blue-bg z-depth-2">
        <div class="card-content center-align">
          <h4 class="soft-blue-text">
            <i class="material-icons large">lock_outline</i><br>
            401 - Not Authorized
          </h4>
          <p class="flow-text grey-text text-darken-1">
            You do not have permission to access this page.
          </p>
          <p class="grey-text text-darken-2">
            {{ error or "Please log in with the appropriate credentials or return to a valid page." }}
          </p>
        </div>
        <div class="card-action center-align">
          <a href="/" class="waves-effect btn-soft-blue btn">
            <i class="material-icons left">home</i>Home
          </a>
          <a href="javascript:history.back()" class="waves-effect btn-gray btn">
            <i class="material-icons left">arrow_back</i>Go Back
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

